@use 'sass:math';

$black-color: #000000;
$white-color: #ffffff;
$primary-color: #50b1a9;
$gray-color: #b3b3b3;

$transition: all 200ms ease-in-out;

$border_radius: 5px;

%title {
  color: $white-color;

  font-family: 'Raleway', sans-serif;
  font-size: pxToRem(36px);
  font-weight: 300;
  line-height: 1.3em;
  word-break: break-word;
}

%big_title {
  color: $white-color;

  font-family: 'Raleway', sans-serif;
  font-size: pxToRem(64px);
  font-weight: 300;
  line-height: 1.3em;
  word-break: break-word;
}

%menu-link {
  font-family: 'Roboto', sans-serif;
  font-size: pxToRem(16px);
  line-height: pxToRem(24px);
  white-space: nowrap;

  outline: none;
  cursor: pointer;
}

@function pxToRem($pxValue) {
  @return math.div($pxValue, 16px) * 1rem;
}
